
.card{
    float: left;
    border: 1px solid #ababab;
    width: 250px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px #0000002b;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .imgProductCard{
    border: 1px solid #ababab;
    width: 100%;
    border-radius: 5px;
  }

  .containerAddStock{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* width:max-content; */
    margin: 10px;
    display:block;
    align-items: center;
  }