.txtMensaje{
    width: max-content;
}

.secondRowContainer{
    display:block;
    width: max-content;
}
.containerBtnContact{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.btnContact{
    display:flex;
    margin:5px;
}

