  /* Lightmode styles */
  header.main-header.lightMode{
    background:white;
    box-shadow: 2px 5px 15px #0000000d;
  }
  header.main-header.lightMode ul.navbar *{
    color:black !important;
  }


