
.itemsToCart{
    border: 1px solid #36e74e;
    width: 50px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .btnPlusMinusAddToCart{
    width: 50px;
    height: 30px;
  }

  .containerAddItemToCart{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width:fit-content;
    margin: 10px;
  }

  .itemCount{
    font-size: large;
  }

  .btnGroupAddRemove{
    margin-bottom:5px;
  }
  